/* resets && geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

:root {
  --color: #c9cacc;
  --color-link: #2bbc8a;
  --font: 'Roboto', sans-serif;
}

body {
  width: 100%;
  background-color: #1d1f21;
  color: var(--color);
  font-family: var(--font);
  font-style: italic;
}
/* resets && geral */



/* header || information */
  header a {
    color: var(--color-link);
  }
  header h1 {
    text-align: center;
  }
  header p {
    text-align: center;
    margin: 17px 0;
  }
  header ul {
    margin-left: 20px;
  }
    header ul li {
      margin: 10px 0;
    }
/* header || information */



/* interaction */
  .interaction {
    margin-top: 10px;
    height: 90px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
    .interaction input {
      font-size: 20px;
      text-align: center;
      border-radius: 5px;
      border: none;
      height: 30px;
      /* height: 20px; */
      width: 50px;
    } 
    .interaction button {
      background-color: var(--color);
      font-weight: lighter;
      font-style: italic;
      cursor: default;
      border-style: none;
      border: none;
      border-radius: 5px;
      width: 100px;
      height: 30px;
      /* height: 20px; */
    }
/* interaction */



/* main || divs */
main {
  margin-top: 10px;
  
  display: flex;
  flex-direction: column;  
}
  main section {
    height: 250px;
    margin: 10px 20px;
    background-color: rgba(255, 145, 0, 0.123);

    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
  }
    main section div {
      border-radius: 35px;
      margin-top: 4px;
    }
    main section::before {
      content: "";
      width: 15px;
      height: 240px;
      background-color: black;
      position: absolute;
      z-index: -1;
    }
/* main || divs */




@media screen and (min-width: 768px) {
  header ul{
    width: fit-content;
    margin: 0 auto;
  }
    
  .interaction {
    width: 300px;
    margin: 0 auto;

    flex-direction: row;
    justify-content: space-evenly;
  }

  main {
    margin-top: 30px;
    flex-direction: row;
  }
    main section{
      margin: 0 30px;
      width: 500px;
    }
}